* {
    margin: 0;
    padding: 0;
}


img {
    display: block;
    max-width: 100%;
}


body {
    font-family: 'Source Code Pro', monospace;
    background: url(../img/bg.jpg) no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    color: #aeaeae;
}
.perfil-pic{
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    width: 10em
}
li{
    list-style: none;
}
.perfil span{
    font-size: 24px;
}
.perfil p {
    font-size: 18px;
    margin-top: 2rem;
    margin-bottom: 4rem;
}


.title{
    font-size: 36px;
    font-weight: normal;
}


.box{
    background-color: #eee;
    padding: 4rem;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.336);
    border-radius: 50px;
    text-align: center;
}
.perfil{
    margin-top: 4rem;
    max-width: 18%;
    margin: 0 auto;
}



.redes-sociais{
    display: flex;
    justify-content: center;
}


.redes-sociais li{
    margin-right: 1rem;
}

.portfolio{
    max-width: 50%;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.portfolio ul{
    margin-top: 3rem;
}
.portfolio li {
    text-align: left;
    color: #919191;
    display: inline-block;
}
.main{
  margin: 4rem;
}
.imagem-port{
    float: left;
    padding: 1rem;
    border-radius: 30px;
    width: 50%;
}
.portfolio h2{
    font-weight: normal;
    padding: 1rem 0;
}
.portfolio p{
    font-size: 16px;
}
.copyright{
    font-size: 24px;
    color: #eee;
    text-shadow: 2px 2px 16px black;
    padding: 4rem 0 8rem 0;
}