@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Noto+Sans+SC:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Noto+Sans+SC:wght@100;300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Noto Sans SC', sans-serif;
}
nav{
    position: absolute;

}
nav ul {
    font-size: 25px;
    list-style: none;
    display:flex;

}
nav ul li{
    padding: 10px 30px;
    margin-left: 30px;
}
nav ul li a{
    color: white;
    cursor: pointer;
    text-decoration: none;

}
nav ul li:hover{
    border-bottom: white 2px solid;
    transition: .25s;
}
.index-1{
    background-image: url("../img/pizza-index.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 60em;
}
.retangle{

    background-color: rgb(255, 186, 0);
    position: absolute;
    left: 0px;
    top: 403px;
    width: 100%;
    height: 198px;
    z-index: 146;
}
.index-title{
    font-size: 90px;
    color: white;
    padding: 26rem 0 0 8rem;
    z-index: 147;
    position: absolute;
    line-height: 100px;
    font-weight: 300;

}
.index-title h1{
    font-weight: 100 ;
}
.index-title span{
    font-weight: 700;
    font-family: 'Berkshire Swash', cursive;

}
.index-2{
    background-color: #242424;
    width: 100%;
    height: 40em;
}
.img-index-2{
    position: relative;
    padding: 5.5rem 0 5.5rem 0;
    float: right;
}

.retangle-2{
    background-color: rgb(255, 186, 0);
    position: absolute;
    left: 131px;
    top: 1174px;
    width: 840px;
    height: 190px;
    z-index: 132;
      
}
.content{
    position: absolute;
    color:white;
    font-size: 28px;
    width: 25em;
    padding: 9rem 0 0 15rem;
    z-index: 135;
}
.content h3{
    line-height: 80px;
}
.index-3{
    background-color: white;
    height: 20em;
    display:flex;
}
.i3-content{
    padding: 80px;
    width: 30%;
}
.index-3 h3{
    color: #ffba00;
    font-size: 28px;
    padding-bottom: 15px;
    
}


