*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'JetBrains Mono', monospace;
    border-top: solid 5px #5c87b8;
    overflow: hidden;
}
.sidebar{
    width: 20%;
    height: 100vh;
    background-color: #7da4d2;
    position: fixed;
}
.img-profile img:hover{
    border:6px solid #c7ddf7;
}
.img-profile img{
    border-radius: 50%;
    border:6px solid #a6c4e7 ;
    margin: 4rem 0;
    width: 70%;
}

.img-profile{
    text-align: center;
}

.menu ul{
    display: block;
    position: relative;
    text-align: center;
}
.menu a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    margin-bottom: 3rem;
    opacity: 0.5;
    text-transform: uppercase;
}
.menu :hover{
    color: white;
    opacity: 1;
    
}
.parent{
    display: flex;
}
.content{
    height: 100%;
    max-width: 80%;
    position: absolute;
    left: 20%;
    overflow: auto;
    padding: 0 3%
}
section.description{
    margin-top: 14rem;
    position: relative;
}

section.description h1{
    font-size: 48px;
    color: #797979;
}
section.description h1 > span,
section.description h3 > span{
    color:#7da4d2 ;
}
section.description h3{
    color: #797979;
    font-size: 23px;
    margin: 15px 0;
}
section.description p{
    margin-top: 40px;
    font-size: 18px;
    color: #797979;
}
.social-media{
    margin-top: 3.5rem ;
    
}
.social-media a :hover{
    color:#7da4d2 ;
    transition: color .5s;
}

.social-media a{
    display: inline-block;
    color: gray;
    width: 40px;
    height: 40px;
    margin: 0 20px 0 0px;
}
.info{
    border-top: 1px solid #cecece;
    border-bottom:1px solid #cecece ;
    margin: 15rem 0 ;
    padding: 4rem 0 4rem 0;
}
.info h2{
    color:#7da4d2 ;
    font-size: 34px;
    margin-bottom: 2rem;
}
.info h3{
    margin-bottom: .5rem;
    color: #818181;
}
.info p{
    font-weight: 200    ;
    font-size: 18px;
    margin-bottom: 4rem;
    color: #797979;
    
}

