@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    height: 100vh;
    background-color: #c9c9c9;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}
.div{
    width: 600px;
    height: 400px;
    margin: 0 auto;
    background-color: white;
    color: #737373;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 40px;
}